.by1{

    background-image: url(../../assets/images/t3.jpg);

}
.y2 {
    width: 500px;
    height: auto;
    background-color: lightgrey;
    background-image: linear-gradient(to right, rgba(206, 228, 219, 0.267) , rgb(139, 204, 216));
 
    position: absolute;
    top: 150px;
    right: 450px;
    box-shadow: 0 4px 8px 5px rgba(69, 90, 67, 0.2), 0 6px 20px 0 rgba(179, 18, 18, 0.19);    
    border-radius: 5px;}

.y1 {
    width: 400px;
    min-height: 320px;
    background-color: rgba(0, 0, 0, 0.685);
    position: absolute;
    top: 150px;
    right: 450px;
    box-shadow: 0 4px 8px 5px rgba(69, 90, 67, 0.2), 0 6px 20px 0 rgba(236, 173, 173, 0.19);    
    border-radius: 5px;}
.bvb1{
    width: 100%;
    height: 668px; 
    z-index: -1; 
    position: initial; 
}
.sg1{
    font-size: 30px;
    font-style: inherit;
    margin: 5px;
}
.int1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}